.progress_box{
    width: 100%;
}
.progress_msg{
    width: 30%;
    font-size: 20px;
    color:white;
}
.progress-bar {
    width: 70%;
    height: 30px;
    background-color:white;
    font-weight: 600;
    font-size: .8rem;
    margin-top:5px;
}

.progress-bar .progress {     /* // 나타내고자 하는 퍼센트 값을 넣으면 됩니다. */
    height: 30px;
    padding: 0;
    text-align: center;
    color: #111;
}

#pagingul1,#pagingul2,#pagingul3{
    text-align: center;
    margin-left: 3px;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #DCE6F2;
    border-right: 0;
    padding-left: 0;
}

#pagingul1,#pagingul2,#pagingul3 li {
    text-align: center;
    float: left;
    list-style: none;
}

#pagingul1,#pagingul2,#pagingul3 li a {
    display: block;
    font-size: 14px;
    color: black;
    padding: 9px 12px;
    border-right: solid 1px #ccc;
    box-sizing: border-box;
    text-decoration-line: none;
}

#pagingul1,#pagingul2,#pagingul3 li.on {
    background:#ccc;
}
/* 원형 차트 */
.pie-chart1 {
    display:inline-block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    transition: 0.3s;
  }
  