#main {
  background-color: #ffffff;
}

.label > h1{
    font-size: 1.5rem;
    margin-left: 10px;
}
.make_row > select{
    margin-left: auto;
    float: right;
    width: 40%;
}

#profile_data{
    display: flex;
    align-items: stretch;
    justify-content: center;
    background-color: #DCE6F2;
}

/* paging 번호 선택 부분 css */
#pagingul{
    text-align: center;
    margin-left: 3px;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #DCE6F2;
    border-right: 0;
    padding-left: 0;
}

#pagingul li {
    text-align: center;
    float: left;
    list-style: none;
}

#pagingul li a {
    display: block;
    font-size: 14px;
    color: black;
    padding: 9px 12px;
    border-right: solid 1px #ccc;
    box-sizing: border-box;
    text-decoration-line: none;
}

#pagingul li.on {
    background:#ccc;
}
/* paging 관련 끝 */

/* js 처리 */
#student_data{
    display: none;
}

#request_box{
    margin-left: auto;
}
#request_box > button{
    margin-right: 3px;
}

.notice_message{
    margin-top: 5px;
}
.notice_message > p{
    float: left;
    margin-bottom: 0;
}

#select_student{
    display: none;
}
#complete_done{
    display: none;
}
#incomplete_done{
    display: none;
}
.paginationjs-pages {
  float: right !important;
  padding-right: 10px;
}

.manage-work-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 47%;
}

.manage-work-btn {
  width: 100%;
  height: auto;
  background-color: #f1f1f1;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.manage-work-btn:hover {
  cursor: pointer;
  padding: 12%;
}

.manage-work-btn img {
  width: 100%;
  object-fit: fill;

}

.manage-work-label {
  font-size: 18px;
  font-weight: 600;
  color: #f1f1f1;
  padding-top: 10px;
}


.cursor-pointer {
  cursor: pointer;
}
