

.label > h1{
    font-size: 1.5rem;
    margin-left: 10px;
}
.make_row > select{
    margin-left: auto;
    float: right;
    width: 40%;
}

#profile_data{
    display: flex;
    align-items: stretch;
    justify-content: center;
    background-color: #DCE6F2;
}

/* paging 번호 선택 부분 css */
#pagingul{
    text-align: center;
    margin-left: 3px;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #DCE6F2;
    border-right: 0;
    padding-left: 0;
}

#pagingul li {
    text-align: center;
    float: left;
    list-style: none;
}

#pagingul li a {
    display: block;
    font-size: 14px;
    color: black;
    padding: 9px 12px;
    border-right: solid 1px #ccc;
    box-sizing: border-box;
    text-decoration-line: none;
}

#pagingul li.on {
    background:#ccc;
}
/* paging 관련 끝 */

/* js 처리 */
#student_data{
    display: none;
}

#request_box{
    margin-left: auto;
}
#request_box > button{
    margin-right: 3px;
}

.notice_message{
    margin-top: 5px;
}
.notice_message > p{
    float: left;
    margin-bottom: 0;
}

#select_student{
    display: none;
}
#complete_done{
    display: none;
}
#incomplete_done{
    display: none;
}
.paginationjs-pages {
  float: right !important;
  padding-right: 10px;
}

.manage-work-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 47%;
}

.manage-work-btn {
  width: 100%;
  height: auto;
  background-color: #f1f1f1;
  border-radius: 20px;
  padding: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}

.manage-work-btn .manage-work-img {
  width: 25%;
  padding: 2.5%;
  transition: 0.4s;
}

.manage-work-btn .manage-work-label-wrapper {
  width: 60%;
  text-align: center;
}

.manage-work-btn .manage-work-label {
  transition: 0.4s; 
}

.manage-work-btn:hover > .manage-work-img {
  padding: 1.3%;
}

.manage-work-btn:hover .manage-work-label {
  font-size: 20px;
  font-weight: 700;
}

.manage-work-btn img {
  width: 100%;
  object-fit: fill;

}

.manage-work-label {
  font-size: 18px;
  font-weight: 600;
  color: #333333;
}


.manage-user-detail-deco {
  position: absolute !important;
  z-index: -10; 
  width: 100%;
  height: 100%;
  background-color: #FF7069;
  border-radius: 20px;
  top: 0;
  left: 3%;
}

.manage-ban-select {
  border: none;
  border-bottom: 1px groove #2b2b2b;
  background-color: #f1f1f1;
}

.manage-ban-select:active, .manage-ban-select {
  border: none;
  outline: none;
  border-bottom: 1px groove #2b2b2b;
}

.cursor-pointer {
  cursor: pointer;
}
#manage_answer_2{
  display: none;
}