.container_box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 85vw;
  padding: 40px;
}

.question-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
}

.question-btn {
  width: 100%;
  height: auto;
  background-color: #f1f1f1;
  padding: 15%;
  border-radius: 20px;
  transition: 0.4s;
}

.question-btn:hover {
  cursor: pointer;
  padding: 12%;
}

.question-btn img {
  width: 100%;
  object-fit: fill;

}

.question-label {
  font-size: 18px;
  font-weight: 600;
  color: #f1f1f1;
  padding-top: 10px;
}


.user-detail {
  width: 97%;
  height: 100%;
  background-color: #f1f1f1;
  padding: 16px 20px;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-detail a {
  text-decoration: none;
}

.user-detail-deco {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  background-color: #845EC2;
  border-radius: 20px;
  top: 0;
  left: 3%;
}

.user-name {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #1b1b1b33;
}

.user-name img {
  width: 60px;
  height: auto;
  margin-right: 10px;
}

.user-name span {
  font-size: 20px;
  margin-left: 10px;
  color: #333333;
  font-weight: 700;
}

.user-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 16px;
}

.user-contact i {
  color: #555555;
  font-size: 16px;
  font-weight: 700;
}

.user-contact span {
  font-size: 16px;
  color: #555555;
  font-weight: 600;
}

.info-title {
  background-color: #2b2b2b;
  padding: 15px 30px;
  border-radius: 20px 20px 0 0;
  border-bottom: 3px groove #f1f1f1;
}

.info-title span {
  font-size: 22px;
  color: #f1f1f1;
}

.info {
  background-color: #f1f1f1;
  border-radius: 0 0 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}


.modal-header {
  background-color: #2B2B2B;
  border-radius: 15px;
  margin: 20px 20px 0 20px;
}

.modal-header .modal-title{
  color: #f1f1f1;
}

.modal-body-select-container {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  flex-direction: row;
  padding: 16px 0;
}

.modal-body-select-label {
  width: 25%;
  font-size: 18px;
  font-weight: 600;
}

.modal-body-select {
  width: 35%;
  padding: 7px;
  border: none;
  border-bottom: 2px groove #2b2b2b44;
}

.modal-body-select:active {
  border: none;
  outline: none;
  border-bottom: 2px groove #2b2b2b44;
}

.modal-body-select:focus {
  border: none;
  outline: none;
  border-bottom: 2px groove #2b2b2b44;
}

/* 이반 요청 */
#invisible_for_2{
    display: none;
}
/* 퇴소 요청 */
#invisible_for_1{
    display: none;
}
#question_box{
    display: none;
}
#questiondetail{
    display: none;
}

@media all and (max-width:768px) {
  .container_box {
    width: 100vw;
    padding: 10px;
  }

  .question-label {
    font-size: 15px;
  }

  #main {
    margin-bottom: 85px;
  }
}

/* 차트 */
.chartWrap{
    position: relative;
    /* width: 300px;
    height: 300px; */
    width: 20%;
    height: 100%;
    margin:5%;
    }
    .chart {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    transition: 0.3s;
    background:lightgray;
    display:inline-block;
    }
    .chart:after{
    content:'';
    background: #fff;
    position: absolute;
    top:50%; left:50%;
    width:170px; height:170px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    }
    .chart-bar{
    width: inherit;
    height: inherit;
    border-radius: 50%;
    position: relative;
    }
    
    .chart-total{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:gray;
    width:100%;
    z-index: 1;
    }
    .chart-total span{
    position: absolute;
    color:#777;
    }
    .chart-total-num{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:1.3rem;
    font-weight:bold;
    color: #333;
    }
    .chart-total-text1{
    top:-150px;right:-10px;
    }
    .chart-total-text2{
    top:-50px;right:-70px;
    }
    .chart-total-text3{
    top:120px;right:30px;
    }
    .chart-total-text4{
    top:0;left:-70px;
    }

    .chart-explain{
        position: relative;
        margin:5%;
        width: 100%;
        height: 100%;
    }

#today_task_box,#today_done_box,#consulting_student_list{display: none}
#h_title,#consulting_history_box,#today_consulting_box,#missed_consulting_history_box{display: none}