{% extends 'index.html' %}
{% block title %}
관리자 페이지
{% endblock %}

{% block topnav %}
{% if user %}
관리자님 환영합니다.
{% else %}
로그인이 필요합니다.
{% endif %}
{% endblock %}
{% block style %}
<link rel="stylesheet" href="../static/style/admin.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>
{% endblock %}
{% block content %}
{% autoescape off %}
<div class="container_box">
    <div id="user-info" class="border-bottom">
        <div class="d-flex justify-content-center flex-xl-row row-cols-xl-2 flex-column-reverse">
            <div class="p-lg-5 p-1 pb-4">
                <div class="d-flex justify-content-between flex-row row-cols-2 mb-4">
                    
                </div>
                <div class="d-flex justify-content-between flex-row row-cols-2">
                                
                </div>
            </div> 
            <div class="d-flex justify-content-start align-items-center p-lg-5 py-3">
                <div class="user-detail">
                    <div class="manage-user-detail-deco"></div>
                    <div class="user-name">
                        <img src="https://purpleacademy.net/free_project/public/image/teacher-profile.png">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <span>{{ user['engname'] }}님 안녕하세요</span>
                            <div class="mt-2">
                                <a href="#" class="me-1" data-bs-toggle="modal" data-bs-target="#sign-out">
                                    <i class="fas fa-sign-out-alt text-danger fa-lg fs-6"></i>
                                </a>
                                <a href="#" class="ms-1" data-bs-toggle="modal" data-bs-target="#">
                                    <i class="fa-solid fa-gear text-primary fa-lg fs-6"></i>
                                </a>
                            </div> 
                        </div>
                    </div>
                    <div class="user-contact">
                        <div class="mt-2">
                           <i class="fa-regular fa-envelope"></i>                            
                           <span>&nbsp;&nbsp;{{ user['email'] }}</span>
                        </div>
                        <div class="mt-3">
                            <i class="fa-solid fa-briefcase"></i>
                            <span>&nbsp;&nbsp;관리자</span>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <div id="ban-statistics" class="p-lg-5 px-1 py-4">
        <div class="info-container">
            <div class="info-title">
                <span>Class Statistics</span>
            </div>
            <div class="info">
                <select class="form-select" name="target_ban" onchange="getBanInfo(this.value)">
                    <option value="none" selected>반을 선택해주세요</option>
                    {% for ban in all_ban %}
                    {% set ban_regi = ban['register_no']  %}
                    <option value={{ban_regi}}>{{ban['name']}} ({{ban['semester']}}학기)</option>
                    {% endfor %}
                </select>
            </div>
        </div>        
    </div>

    <section id="statistics">
        <div class="make_row">
            <div class="label" id="default_title">
                <h1> 반 현황 검색 </h1>
            </div>
            <div class="label" id="label_title">

            </div>
            <select name="target_ban" onchange="getBanInfo(this.value)">
                <optgroup>
                    <option value="none" disabled selected>반을 선택해주세요</option>
                    {% for ban in all_ban %}
                    {% set ban_regi = ban['register_no']  %}
                    <option value={{ban_regi}}>{{ban['name']}} ({{ban['semester']}}학기)</option>
                    {% endfor %}
                </optgroup>
            </select>
        </div>
        <div class="make_col">
            <div id="profile_data">

            </div>
            <div id="ban_data">

            </div>
            <table class="table text-center" style="width:100%;" id="student_data">
                <tr class="row" style="background: #DCE6F2;">
                    <th class="col-12" id="displayCount"></th>
                </tr>
                <tr class="row" style="background:#DCE6F2;">
                    <th class="col-2">원생 정보</th>
                    <th class="col-2">연락처</th>
                    <th class="col-3">부모님 정보</th>
                    <th class="col-2">추천도서</th>
                    <th class="col-2">미학습</th>
                    <th class="col-1">상세</th>
                </tr>
                <tr id="s_data" class="row">

                </tr>
            </table>
            <ul id="pagingul"></ul>

            <div id="ban_statistics" class="make_row">

            </div>

            <!-- <div class="make_row" id="request_box">
                    <button class="custom-control custom-control-inline custom-checkbox" data-bs-toggle="modal"
                    data-bs-target="#request_consulting">상담 요청 하기</button>
                    <button class="custom-control custom-control-inline custom-checkbox" data-bs-toggle="modal" data-bs-target="#my_consulting_request" onclick="get_consulting()" style="margin-right: 20px;">요청중인 상담 보기</button>
                    <button class="custom-control custom-control-inline custom-checkbox" data-bs-toggle="modal"
                    data-bs-target="#request_task">업무 요청 하기</button>
                    <button class="custom-control custom-control-inline custom-checkbox" data-bs-toggle="modal" onclick="get_task()"
                    data-bs-target="#my_task_request">요청중인 업무 보기</button>    
            </div> -->
        </div>

    </section>
    <section id="work">
        <div class="make_col">
            <div class="label" id="default_title">
                <h1> 선생님 문의 현황 </h1>
            </div>
            <table class="table text-center" id="teacher_question" style="width:100%;">
                    <thead>
                        <tr class="row">
                            <th class="col-3">종류</th>
                            <th class="col-3">선생님</th>
                            <th class="col-4">제목</th>
                            <th class="col-2">응답</th>
                        </tr>
                    </thead>
                <tbody >
                    <tr id="alim-tr" class="row"></tr>
                </tbody>
            </table>
            <div id="pagination" class="py-5 text-center"></div>
        </div>
    </section>
</div>

{% block jspart %}
<script type="text/javascript" src="../static/js/admin.js"></script>
{% endblock %}

{% endautoescape %}
{% endblock %}
