{% extends 'index.html' %}
{% block title %}
관리자 페이지
{% endblock %}

{% block topnav %}
{% if user %}
관리자님 환영합니다.
{% else %}
로그인이 필요합니다.
{% endif %}
{% endblock %}
{% block style %}
<link rel="stylesheet" href="../static/style/manage.css">
<link rel="stylesheet" href="../static/style/paginate.css">
<link rel="stylesheet" href="../static/style/teacher.css">
<link rel="stylesheet" href="../static/style/admin.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>
{% endblock %}
{% block content %}
{% autoescape off %}
<div class="container_box">
    <div id="user-info" class="border-bottom">
        <div class="d-flex justify-content-center flex-xl-row row-cols-xl-2 flex-column-reverse">
            <div class="d-flex justify-content-start align-items-center p-lg-5 py-3">
                <div class="user-detail">
                    <div class="manage-user-detail-deco"></div>
                    <div class="user-name">
                        <img src="https://purpleacademy.net/free_project/public/image/teacher-profile.png">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <span>{{ user['engname'] }}님 안녕하세요</span>
                            <div class="mt-2">
                                <a href="#" class="me-1" data-bs-toggle="modal" data-bs-target="#sign-out">
                                    <i class="fas fa-sign-out-alt text-danger fa-lg fs-6"></i>
                                </a>
                                <a href="#" class="ms-1" data-bs-toggle="modal" data-bs-target="#">
                                    <i class="fa-solid fa-gear text-primary fa-lg fs-6"></i>
                                </a>
                            </div> 
                        </div>
                    </div>
                    <div class="user-contact">
                        <div class="mt-2">
                           <i class="fa-regular fa-envelope"></i>                            
                           <span>&nbsp;&nbsp;{{ user['email'] }}</span>
                        </div>
                        <div class="mt-3">
                            <i class="fa-solid fa-briefcase"></i>
                            <span>&nbsp;&nbsp;관리자</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="d-flex justify-content-center flex-xl-row row-cols-xl-2 flex-column-reverse">
            <div id="ban-statistics" class="p-lg-5 p-1 pb-4">
                <div class="info-container">
                    <div class="progress_box make_row">
                        <span class="progress_msg" id="tn">총 학생 수: </span>
                        <div class="progress-bar">
                            <div class="progress" id="total_num"></div>
                        </div>
                    </div>
                    <div class="progress_box make_row">
                        <span class="progress_msg" id="sn">이반 학생 수: </span>
                        <div class="progress-bar">
                            <div class="progress" id="switch_num"></div>
                        </div>
                    </div>
                    <div class="progress_box make_row">
                        <span class="progress_msg" id="on">이반 학생 수: </span>
                        <div class="progress-bar">
                            <div class="progress" id="outstudent_num"></div>
                        </div>
                    </div>
                </div>        
            </div> 
            <div id="ban-statistics" class="p-lg-5 p-1 pb-4">
                <div class="info-container">
                    <div class="progress_box make_row">
                        <span class="progress_msg" id="un"></span>
                        <div class="progress-bar">
                            <div class="progress" id="unlearned_num"></div>
                        </div>
                    </div>
                    <div class="progress_box make_row">
                        <span class="progress_msg" id="ixln"></span>
                        <div class="progress-bar">
                            <div class="progress" id="ixl_num"></div>
                        </div>
                    </div>
                    <div class="progress_box make_row">
                        <span class="progress_msg" id="sn"></span>
                        <div class="progress-bar">
                            <div class="progress" id="sread_num"></div>
                        </div>
                    </div>
                    <div class="progress_box make_row">
                        <span class="progress_msg" id="rn"></span>
                        <div class="progress-bar">
                            <div class="progress" id="read_num"></div>
                        </div>
                    </div>
                    <div class="progress_box make_row">
                        <span class="progress_msg" id="in"></span>
                        <div class="progress-bar">
                            <div class="progress" id="intoread_num"></div>
                        </div>
                    </div>
                    <div class="progress_box make_row">
                        <span class="progress_msg" id="wn"></span>
                        <div class="progress-bar">
                            <div class="progress" id="writing_num"></div>
                        </div>
                    </div>

                </div>        
            </div>
        </div> 

        <div class="info-container">
            <div class="info-title">
                <span>퇴소 / 이반 현황</span>
            </div>
            <div class="info">
                <div class="d-flex justify-content-center align-items-center flex-column w-100"> 
                    <div class="d-flex justify-content-start align-items-start w-100" style="overflow: scroll;">
                        <div class="d-flex justify-content-center align-items-center flex-column mt-4" style="width: 1362px important;">
                           
                            <table class="table text-center" style="width:100%;" id="so_data">
                                <tr class="row" style="background: #DCE6F2;">
                                    <th class="col-12" id="displayCount"></th>
                                </tr>
                                <tr class="row" style="background:#DCE6F2;">
                                    <th class="col-2">반 이름</th>
                                    <th class="col-2">담임 T</th>
                                    <th class="col-3">학기</th>
                                    <th class="col-2">이반 발생</th>
                                    <th class="col-2">퇴소 발생</th>
                                    <th class="col-1">상세</th>
                                </tr>
                                <tr id="sd_data" class="row"></tr>
                            </table>
                            <ul id="pagingul"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>

</div>

{% block jspart %}
<script type="text/javascript" src="../static/js/admin.js"></script>
{% endblock %}

{% endautoescape %}
{% endblock %}
