{% extends 'index.html' %}
{% block title %}
관리자 페이지
{% endblock %}

{% block topnav %}
{% if user %}
관리자님 환영합니다.
{% else %}
로그인이 필요합니다.
{% endif %}
{% endblock %}
{% block style %}
<link rel="stylesheet" href="../static/style/manage.css">
<link rel="stylesheet" href="../static/style/paginate.css">
<link rel="stylesheet" href="../static/style/teacher.css">
<link rel="stylesheet" href="../static/style/admin.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css" />
{% endblock %}
{% block content %}
{% autoescape off %}
<!-- 반 정보 조회 모달 -->
<div class="modal fade" id="baninfo" tabindex="-1" aria-labelledby="banModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="banModalLabel">
                </p>
                <button type="button" class="btn btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body py-4 px-5">
                <div class="info">
                    <div class="d-flex justify-content-center align-items-center flex-column w-100"> 
                        <div class="d-flex justify-content-start align-items-start w-100" style="overflow: scroll;">
                            <div class="d-flex justify-content-center align-items-center flex-column mt-4" style="width: 1362px important;">
                                <div id="profile_data" class="w-100"></div>
                                <div id="ban_data" class="w-100"></div>
                                <table class="table text-center" style="width:100%;" id="student_data">
                                    <tr class="row" style="background: #DCE6F2;">
                                        <th class="col-12" id="displayCount"></th>
                                    </tr>
                                    <tr class="row" style="background:#DCE6F2;">
                                        <th class="col-2">원생 정보</th>
                                        <th class="col-2">연락처</th>
                                        <th class="col-3">부모님 정보</th>
                                        <th class="col-2">추천도서</th>
                                        <th class="col-2">미학습</th>
                                        <th class="col-1">상세</th>
                                    </tr>
                                    <tr id="s_data" class="row"></tr>
                                </table>
                                <ul id="pagingul"></ul>
                                <div id="ban_statistics" class="make_row w-100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 선생님 정보 조회 모달 -->
<div class="modal fade" id="teacherinfo" tabindex="-1" aria-labelledby="teacherModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="teacherModalLabel">
                    <div class="user-contact">
                        <div class="mt-2">
                            <i class="fa-regular fa-envelope"></i>
                            <span>&nbsp;&nbsp;{{ user['email'] }}</span>
                        </div>
                        <div class="mt-3">
                            <i class="fa-solid fa-mobile-screen-button"></i>
                            <span>&nbsp;&nbsp;{{ user['mobileno'] }}</span>
                        </div>
                    </div>
                </p>
                <button type="button" class="btn btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body py-4 px-5">
                <div class="info">
                    <div class="d-flex justify-content-center row-cols-xl-2 flex-xl-row flex-column">
                        <div id="statistics" class="p-lg-5 p-1 py-4">
                            <div class="info-container">
                                <div class="info-title">
                                    <span>Total Chart</span>
                                </div>
                                <div class="info" style="overflow: scroll;">
                                    <div class="total_chart">
                                        <div class="chartWrap">
                                            <div class="chart">
                                                <div class="chart-total">
                                                    <span class="chart-total-num">Total:{{ total_student_num }}<br></span>
                                                </div>
                                            </div>
                                            <div class="chart-bar" data-deg="{{outstudent_num}}"></div>
                                            <div class="chart-bar" data-deg="{{switchstudent_num}}"></div>
                                            <div class="chart-bar" data-deg="{{total_student_num}}"></div>
                                            <div class="chart-bar" data-deg="{{total_student_num}}/360*100">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                            <div class="info-container mt-5">
                                <div class="info-title">
                                    <span>Total Report</span>
                                </div>
                                <div class="info">
                                    <div class="total_table" style="width:90%">
                                        <!-- <table class="table text-center" id="unlearned">
                                            <tbody style="width:100%;">
                                                <tr class="row">
                                                    <th class="col-3">IXL</th>
                                                    <th class="col-3">리딩</th>
                                                    <th class="col-3">리특</th>
                                                    <th class="col-3">라이팅</th>
                                                </tr>
                                                <tr id="totalreport-row" class="row">
                                                    <td class="col-3"> 임시3 (5%) </td>
                                                    <td class="col-3"> 임시3 (5%) </td>
                                                    <td class="col-3"> 임시3 (5%) </td>
                                                    <td class="col-3"> 임시3 (5%) </td>
                                                </tr>
                                            </tbody>
                                        </table> -->
                                        <table class="table text-center" id="unlearned">
                                            <tbody style="width:100%;">
                                                <tr class="row">
                                                    <th class="col-6">업무 | 완수율</th>
                                                    <th class="col-6">상담 | 완수율</th>
                                                </tr>
                                                <tr id="classreport-row" class="row">
                                                    <td class="col-3" id="task_chart">{{total_done}}/{{total_todo}}</td>
                                                    <td class="col-3"> {{ ttp }}%</td>
                                                    <td class="col-3"> {{ttd}}/{{ttc}} </td>
                                                    <td class="col-3"> {{cp}}% </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table text-center" id="unlearned">
                                            <tbody style="width:100%;">
                                                <tr class="row">
                                                    <th class="col-6">공지 등록건</th>
                                                    <th class="col-6">문의 | 응답율</th>
                                                </tr>
                                                <tr class="row">
                                                    <td class="col-6"> {{questions|length}} </td>
                                                    <td class="col-3"> 임시3/10 </td>
                                                    <td class="col-3"> 5% </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                
                
                            <div class="info-container mt-5">
                                <div class="info-title">
                                    <span>Class Report</span>
                                </div>
                                <div class="info">
                                    <table class="table text-center" id="class_list" style="width:100%;">
                                        <tbody style="width:100%;">
                                            <tr class="row">
                                                <th class="col-2">반이름</th>
                                                <th class="col-1">학기</th>
                                                <th class="col-1">원생 수</th>
                                                <th class="col-2">퇴소</th>
                                                <th class="col-2">이반</th>
                                                <th class="col-2">미학습</th>
                                                <th class="col-2">문의 미응답</th>
                                            </tr>
                                            {% for ban in my_bans %}
                                            <tr class="row">
                                                <td class="col-2">{{ ban['name'] }}({{ban['register_no']}})</td>
                                                <td class="col-1">{{ ban['semester'] }}</td>
                                                <td class="col-1">{{ ban['total_student_num'] }}</td>
                                                <td class="col-2"> {{outstudent_num}} ({{outstudent_num_p}}%) </td>
                                                <td class="col-2"> {{switchstudent_num}} ({{switchstudent_num_p}}%) </td>
                                                <td class="col-2"> {{unlearned_ttc}} ({{unlearned_cp}}%) </td>
                                                <td class="col-2"> 임시3 (5%) </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container_box">
    <div id="user-info" class="border-bottom">
        <div class="d-flex justify-content-center flex-xl-row row-cols-xl-2 flex-column-reverse">
            <div class="d-flex justify-content-start align-items-center p-lg-5 py-3">
                <div class="user-detail">
                    <div class="manage-user-detail-deco"></div>
                    <div class="user-name">
                        <img src="https://purpleacademy.net/free_project/public/image/teacher-profile.png">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <span>{{ user['engname'] }}님 안녕하세요</span>
                            <div class="mt-2">
                                <a href="#" class="me-1" data-bs-toggle="modal" data-bs-target="#sign-out">
                                    <i class="fas fa-sign-out-alt text-danger fa-lg fs-6"></i>
                                </a>
                                <a href="#" class="ms-1" data-bs-toggle="modal" data-bs-target="#">
                                    <i class="fa-solid fa-gear text-primary fa-lg fs-6"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="user-contact">
                        <div class="mt-2">
                            <i class="fa-regular fa-envelope"></i>
                            <span>&nbsp;&nbsp;{{ user['email'] }}</span>
                        </div>
                        <div class="mt-3">
                            <i class="fa-solid fa-briefcase"></i>
                            <span>&nbsp;&nbsp;관리자</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="d-flex justify-content-center flex-xl-row row-cols-xl-2 flex-column-reverse">
            <div id="ban-statistics" class="p-lg-5 p-1 pb-4">
                <div class="info-container">
                    <div class="progress_box make_row">
                        <span class="progress_msg" id="tn"></span>
                        <div class="progress-bar">
                            <div class="progress" id="total_num"></div>
                        </div>
                    </div>
                    <div class="progress_box make_row">
                        <span class="progress_msg" id="sn"></span>
                        <div class="progress-bar">
                            <div class="progress" id="switch_num"></div>
                        </div>
                    </div>
                    <div class="progress_box make_row">
                        <span class="progress_msg" id="on"></span>
                        <div class="progress-bar">
                            <div class="progress" id="outstudent_num"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ban-statistics" class="p-lg-5 p-1 pb-4">
                <div class="info-container">
                    <div class="progress_box make_row">
                        <span class="progress_msg" id="un"></span>
                        <div class="progress-bar">
                            <div class="progress" id="unlearned_num"></div>
                        </div>
                    </div>
                    <div class="progress_box make_row">
                        <span class="progress_msg" id="ixln"></span>
                        <div class="progress-bar">
                            <div class="progress" id="ixl_num"></div>
                        </div>
                    </div>
                    <div class="progress_box make_row">
                        <span class="progress_msg" id="sn"></span>
                        <div class="progress-bar">
                            <div class="progress" id="sread_num"></div>
                        </div>
                    </div>
                    <div class="progress_box make_row">
                        <span class="progress_msg" id="rn"></span>
                        <div class="progress-bar">
                            <div class="progress" id="read_num"></div>
                        </div>
                    </div>
                    <div class="progress_box make_row">
                        <span class="progress_msg" id="in"></span>
                        <div class="progress-bar">
                            <div class="progress" id="intoread_num"></div>
                        </div>
                    </div>
                    <div class="progress_box make_row">
                        <span class="progress_msg" id="wn"></span>
                        <div class="progress-bar">
                            <div class="progress" id="writing_num"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="make_row">
        <!-- 퇴소 이반 현황 -->
        <div class="info-container">
            <div class="info-title">
                <span>퇴소 / 이반 현황</span>
            </div>
            <div class="info">
                <div class="d-flex justify-content-center align-items-center flex-column w-100">
                    <div class="d-flex justify-content-start align-items-start w-100" style="overflow: scroll;">
                        <div class="d-flex justify-content-center align-items-center flex-column mt-4"
                            style="width: 1362px important;">

                            <table class="table text-center" style="width:100%;" id="so_data">
                                <tr class="row" style="background: #DCE6F2;">
                                    <th class="col-12" id="displayCount1"></th>
                                </tr>
                                <tr class="row" style="background:#DCE6F2;">
                                    <th class="col-2">반 이름</th>
                                    <th class="col-2">학기</th>
                                    <th class="col-3">담임 T</th>
                                    <th class="col-2">이반 발생</th>
                                    <th class="col-2">퇴소 발생</th>
                                    <th class="col-1">상세</th>
                                </tr>
                                <tr id="static_data1" class="row"></tr>
                            </table>
                            <ul id="pagingul1"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 미학습 발생 현황 -->
        <div class="info-container" style="margin-left: 20px;">
            <div class="info-title">
                <span>미학습 발생 현황</span>
            </div>
            <div class="info">
                <div class="d-flex justify-content-center align-items-center flex-column w-100">
                    <div class="d-flex justify-content-start align-items-start w-100" style="overflow: scroll;">
                        <div class="d-flex justify-content-center align-items-center flex-column mt-4"
                            style="width: 1362px important;">

                            <table class="table text-center" style="width:100%;" id="ul_data_box">
                                <tr class="row" style="background: #DCE6F2;">
                                    <th class="col-12" id="displayCount2"></th>
                                </tr>
                                <tr class="row" style="background:#DCE6F2;">
                                    <th class="col-3">반 이름</th>
                                    <th class="col-2">학기</th>
                                    <th class="col-3">담임 T</th>
                                    <th class="col-3">미학습발생</th>
                                    <th class="col-1">상세</th>
                                </tr>
                                <tr id="static_data2" class="row"></tr>
                            </table>
                            <ul id="pagingul2"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 선생님 관리 현황 -->
    <div class="info-container" style="margin-top: 10px;">
        <div class="info-title">
            <span>선생님 관리 현황</span>
        </div>
        <div class="info">
            <div class="d-flex justify-content-center align-items-center flex-column w-100">
                <div class="d-flex justify-content-start align-items-start w-100" style="overflow: scroll;">
                    <div class="d-flex justify-content-center align-items-center flex-column mt-4"
                        style="width: 1362px important;">

                        <table class="table text-center" style="width:100%;" id="t_data_box">
                            <tr class="row" style="background: #DCE6F2;">
                                <th class="col-12" id="displayCount3"></th>
                            </tr>
                            <tr class="row" style="background:#DCE6F2;">
                                <th class="col-2">선생님 이름</th>
                                <th class="col-3">이메일</th>
                                <th class="col-2">연락처</th>
                                <th class="col-2">관리중인 학생 수</th>
                                <th class="col-2">알림장 응답율</th>
                                <th class="col-1">상세</th>
                            </tr>
                            <tr id="static_data3" class="row"></tr>
                        </table>
                        <ul id="pagingul3"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% block jspart %}
<script type="text/javascript" src="../static/js/admin.js"></script>
{% endblock %}

{% endautoescape %}
{% endblock %}