{% extends 'index.html' %}
{% block title %}
로그인
{% endblock %}
{% block topnav %}
{% if user %}
{{ user.name }}님 환영합니다.
{% else %}
로그인이 필요합니다.
{% endif %}
{% endblock %}
{% block style %}
<link rel="stylesheet" href="../static/style/login.css">
{% endblock %}

{% block content %}
{% autoescape off %}
<script>
    var csrf_token = "{{ csrf_token() }}";
</script>
<div class="modal fade" id="forgot_my" tabindex="-1" aria-labelledby="RequestConsultingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-handling">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="RequestConsultingModalLabel">
                    USER
                </h5>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <input id="csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token() }}" style="display: block;" />
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <div class="row w-100 mt-3">
                        <div class="col-sm-3 mb-sm-0 mb-2"><span>📌 한국 이름</span></div>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" type="text" id="teacher_kor_name" placeholder="한국이름을 입력해주세요">
                        </div>
                    </div>
                    <div class="row w-100 mt-3">
                        <div class="col-sm-3 mb-sm-0 mb-2"><span>📌 영어 이름</span></div>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" type="text" id="teacher_eng_name" placeholder="영어이름을 입력해주세요">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" onclick="find_my_id()"> 아이디 검색</button>
                </div>
                <div class="row w-100 mt-3" id="my_id_box" style="display:none">
                    <div class="col-sm-3 mb-sm-0 mb-2"><span>✅ 아이디</span></div>
                    <div class="col-sm-9">
                        <p id="my_id"></p>
                    </div>
                    <div class="col-sm-3 mb-sm-0 mb-2"><span>✅ 연락처</span></div>
                    <div class="col-sm-9">
                        <p id="my_mobileno"></p>
                    </div>
                    <div class="col-sm-3 mb-sm-0 mb-2"><span>✅ 이메일</span></div>
                    <div class="col-sm-9">
                        <p id="my_email"></p>
                    </div>
                </div>
                <div class="row w-100 mt-3" id="register_request_box" style="display:none">
                    <div class="col-sm-3 mb-sm-0 mb-2"><span>😅 계정 정보가 없어 새로 등록합니다</span></div>
                    <div class="row w-100 mt-3">
                        <div class="col-sm-3 mb-sm-0 mb-2"><span>📌 한국 이름</span></div>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" type="text" id="new_kor_name" placeholder="한국이름을 입력해주세요">
                        </div>
                    </div>
                    <div class="row w-100 mt-3">
                        <div class="col-sm-3 mb-sm-0 mb-2"><span>📌 영어 이름</span></div>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" type="text" id="new_eng_name" placeholder="영어이름을 입력해주세요">
                        </div>
                    </div>
                    <div class="row w-100 mt-3">
                        <div class="col-sm-3 mb-sm-0 mb-2"><span>📌 아이디</span></div>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" type="text" id="new_id" placeholder="아이디를 입력해주세요">
                        </div>
                    </div>
                    <div class="row w-100 mt-3"><div class="col-sm-3 mb-sm-0 mb-2"><span>📌 패스워드</span></div>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" type="text" id="new_pw1" placeholder="패스워드를 입력해주세요">
                        </div>
                    </div>
                    <div class="row w-100 mt-3"><div class="col-sm-3 mb-sm-0 mb-2"><span>📌 패스워드 확인</span></div>
                    <div class="col-sm-9">
                        <input class="form-control form-control-sm" type="text" id="new_pw2" placeholder="패스워드를 한번 더 입력해주세요">
                    </div>
                    </div>
                    <div class="row w-100 mt-3"><div class="col-sm-3 mb-sm-0 mb-2"><span>📌 연락처</span></div>
                    <div class="col-sm-9">
                        <input class="form-control form-control-sm" type="text" id="new_mobileno" placeholder="연락처를 입력해주세요">
                    </div></div>
                    <div class="row w-100 mt-3"><div class="col-sm-3 mb-sm-0 mb-2"><span>📌 이메일</span></div>
                    <div class="col-sm-9">
                        <input class="form-control form-control-sm" type="text" id="new_email" placeholder="이메일을 입력해주세요">
                    </div></div>
                    <div class="modal-footer">
                        <button class="btn btn-success" onclick="regi_my_id()">등록 요청</button>
                    </div>
                </div>
                <!-- <input id="csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token() }}" style="display: block;" />
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <div class="row w-100 mt-3">
                        <div class="col-sm-3 mb-sm-0 mb-2"><span>📌 아이디</span></div>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" type="text" id="consulting_contents" placeholder="한국이름을 입력해주세요">
                        </div>
                    </div>
                    <div class="row w-100 mt-3">
                        <div class="col-sm-3 mb-sm-0 mb-2"><span>📌 기존 비번</span></div>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" type="text" id="consulting_contents" placeholder="비밀 번호를 입력해주세요">
                        </div>
                        <div class="col-sm-3 mb-sm-0 mb-2"><span>📌 새 비번</span></div>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" type="text" id="consulting_contents" placeholder="새 비밀 번호를 입력해주세요">
                        </div>
                        <div class="col-sm-3 mb-sm-0 mb-2"><span>📌 새 비번 확인</span></div>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" type="text" id="consulting_contents" placeholder="새 비밀 번호를 입력해주세요">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" onclick="post_consulting_request()">검색</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">취소</button>
                </div> -->
            </div>
        </div>
    </div>
</div>
<div class="row d-flex justify-content-center align-items-center w-100">
    <div class="col-lg-7 col-md-10">
        <div class="form-container">
            <div class="form-icon">
                <img src="../static/style/images/purple_logo_05.png" style="width:50%;height: 50%;margin-top: 15%;">
                <!-- <i class="fa fa-user-circle"></i> -->
                <!-- <span class="signup"><a href="">Don't have account? Signup</a></span> -->
            </div>
            <div class="form-horizontal">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <h3 class="title mb-5" id="login_msg_title">Login</h3>
                <div class="form-group">
                    <span class="input-icon"><i class="fa fa-circle-user"></i></span>
                    <input class="form-control" id="user_id"  placeholder="아이디를 입력해주세요">
                </div>
                <div class="form-group">
                    <span class="input-icon"><i class="fa fa-lock"></i></span>
                    <input class="form-control" type="password" id="user_pw" placeholder="비밀번호를 입력해주세요">
                </div>
                <button type="submit" class="btn signin" id="btn_login" onclick="sign_in()">Login</button>
                <!-- <button type="submit" class="btn signin" id="btn_login" onclick="sign_in()">Forgot Username/Password?</button> -->
                <span class="forgot-pass" style="margin-top:10px;font-size:15px;"><a data-bs-toggle="modal" data-bs-target="#forgot_my">Forgot ID / Password?</a></span>
            </div>
        </div>
    </div>
</div>


{% endautoescape %}
{% endblock %}

{% block jspart %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/login.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
{% endblock %}