{% extends 'index.html' %}
{% block title %}
로그인
{% endblock %}
{% block topnav %}
{% if user %}
{{ user.name }}님 환영합니다.
{% else %}
로그인이 필요합니다.
{% endif %}
{% endblock %}
{% block style %}
<link rel="stylesheet" href="../static/style/login.css">
{% endblock %}

{% block content %}
{% autoescape off %}
<div class="row d-flex justify-content-center align-items-center w-100">
    <div class="col-lg-7 col-md-10">
        <div class="form-container">
            <div class="form-icon">
                <img src="../static/style/images/purple_logo_05.png" style="width:50%;height: 50%;margin-top: 15%;">
                <!-- <i class="fa fa-user-circle"></i> -->
                <!-- <span class="signup"><a href="">Don't have account? Signup</a></span> -->
            </div>
            <div class="form-horizontal">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <h3 class="title mb-5">Login</h3>
                <div class="form-group">
                    <span class="input-icon"><i class="fa fa-circle-user"></i></span>
                    <input class="form-control" id="user_id" name="user_id" placeholder="아이디를 입력해주세요">
                </div>
                <div class="form-group">
                    <span class="input-icon"><i class="fa fa-lock"></i></span>
                    <input class="form-control" type="password" name="user_pw" placeholder="비밀번호를 입력해주세요">
                </div>
                <button type="submit" class="btn signin" id="btn_login" onclick="sign_in()">Login</button>
                <!-- <span class="forgot-pass"><a href="#">Forgot Username/Password?</a></span> -->
            </div>
        </div>
    </div>
</div>


{% endautoescape %}
{% endblock %}

{% block jspart %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/login.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
{% endblock %}