{% extends 'index.html' %}
{% block title %}
관리부서 페이지
{% endblock %}

{% block topnav %}
{% if user %}
{{ user.eng_name }}님 환영합니다.
{% else %}
로그인이 필요합니다.
{% endif %}
{% endblock %}
{% block style %}
<link rel="stylesheet" href="../static/style/manage.css">
<link rel="stylesheet" href="../static/style/paginate.css">
{% endblock %}
{% block content %}
{% autoescape off %}
<!-- 모달 창 -->
<div class="modal fade" id="question" tabindex="-1"
    aria-labelledby="questionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="questionModalLabel">
                    본원에 문의 남기기
                </h5>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div>
            <form action="/teacher/question" method="POST"></form>
                <ul>
                    <li>문의 종류 : 
                        <select id="question_kind" class="border rounded-0 form-control form-control-sm" name="question_category" style=" width: 150px; height: 100%;" onchange="change_question_kind(this.value)">
                            <optgroup>
                                <option value="none" selected>문의 종류를 선택해주세요</option>
                                <option value="일반">일반 문의</option>
                                <option value="퇴소이반">퇴소/이반 승인 요청</option>
                            </optgroup>
                        </select>
                    </li>
                    <div id="invisible_for_0">
                        <li>대상학생 :
                            <select class="border rounded-0 form-control form-control-sm" name="question_category" style=" width: 150px; height: 100%;">
                                <optgroup>
                                    <option value="none" selected>대상학생을 선택해주세요</option>
                                    <option value=0>for student</option>
                                </optgroup>
                            </select>
                        </li>
                        <li>상담내용 : 
                            <select class="border rounded-0 form-control form-control-sm" name="question_category" style=" width: 150px; height: 100%;">
                                <optgroup>
                                    <option value="none" selected>진행한 상담의 상담일지를 선택해주세요</option>
                                    <option value=0>for student</option>
                                </optgroup>
                            </select>
                        </li>
                        <li>기존 반 : 
                            <select class="border rounded-0 form-control form-control-sm" name="question_category" style=" width: 150px; height: 100%;">
                                <optgroup>
                                    <option value="none" selected>기존 반을 선택해주세요</option>
                                    <option value=0>for student</option>
                                </optgroup>
                            </select>
                        </li>
                        <li>이반/퇴소승인 요청 반 : 
                            <select class="border rounded-0 form-control form-control-sm" name="question_category" style=" width: 150px; height: 100%;">
                                <optgroup>
                                    <option value="none" selected>퇴소 승인 / 이반 승인 요청반을 선택해주세요</option>
                                    <option value=0>for student</option>
                                </optgroup>
                            </select>
                        </li>
                    </div>
                    
                    <li><label>문의 내용</label>
                        <textarea
                            class="border rounded-0 form-control form-control-sm"
                            type="text"rows="5" cols="25" 
                            name="question_contents"
                            id = "question_contents"></textarea>
                    </li>
                </ul>
                <div style="display: flex; float: right;">
                    <button class="btn btn-success" type="submit" style="margin-top: 13px;">저장</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" style="margin-top: 13px;">취소</button>
                </div>
            </form>
            </div>
                        
        </div>
    </div>
</div>

<!-- 상담요청 모달 -->
<div class="modal fade" id="request_consulting" tabindex="-1" aria-labelledby="RequestConsultingModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="RequestConsultingModalLabel">
                    상담 요청
                </h5>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" style="padding-top: 0;">
                <form action="/manage/request_consulting" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" style="display: block;"/>
                    <div class="make_row" >
                        <select class="border rounded-0 form-control form-control-sm" name="consulting_category" style=" width: 150px; height: 100%; margin-left:0;">
                            <optgroup label="상담카테고리 선택">
                                {% for category in consulting_category %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </optgroup>
                        </select>
                        <input class="border rounded-0 form-control form-control-sm" type="text" name="consulting_contents" placeholder="상담 내용을 입력해주세요">
                    </div>
                    <div class="notice_message">
                        <p>👇 상담을 진행할 반을 선택해주세요</p>
                        <div class="plus_under_contents">
                            <select class="border rounded-0 form-control form-control-sm" name="consulting_target_student" id="consulting_target_student" onchange="getBanInfo(this.value)">
                                <optgroup label="상담 진행 반 선택">
                                    <option value="전체 반">✔️ 전체 반 대상 진행</option>
                                    {% for ban in all_ban %}
                                    <option value="{{ ban.register_no }}">{{ ban.name }}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                            <div class="make_row" id="target_bans">

                            </div>
                        </div>
                    </div>
                    
                    <div class="notice_message">
                        <p>👇 상담을 시작해야 하는 날짜를 2022-01-01 형식으로 적어주세요</p>
                        <input class="border rounded-0 form-control form-control-sm" type="text" name="consulting_date" placeholder="2022-01-01">
                    </div>
                    
                    <div class="notice_message">
                        <p>👇 상담을 끝내야 하는 마감 날짜를 2022-01-01 형식으로 적어주세요</p>
                        <input class="border rounded-0 form-control form-control-sm" type="text" name="consulting_deadline"  placeholder="2022-01-01">
                    </div>
                    <div style="display: flex; float: right;">
                        <button class="btn btn-success" type="submit" style="margin-top: 13px;">저장</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" style="margin-top: 13px;">취소</button>
                    </div>
                    
                </form>

            </div>
            

        </div>
    </div>
</div>


<div class="container_box">
    <section id="statistics">
        <div class="make_row">
            <div class="label" id="default_title">
                <h1> 반 현황 검색 </h1>
            </div>
            <div class="label" id="label_title">
                
            </div>
            <select name="target_ban" onchange="getBanInfo(this.value)">
                <optgroup>
                    <option value="none" selected>반을 선택해주세요</option>
                    {% for ban in all_ban %}
                    <option value={{ban.register_no}}>{{ban.name}}</option>
                    {% endfor %}
                </optgroup>
            </select>
        </div>
        <div class="make_col">
            <div id="profile_data">
                
            </div>
            <div id="ban_data">
                
            </div>
            <table class="table text-center" style="width:100%;" id="student_data">
                <tr class="row" style="background: #DCE6F2;">
                    <th class="col-12" id="displayCount"></th>
                </tr>
                <tr class="row" style="background:#DCE6F2;">
                    <th class="col-2">원생 정보</th>
                    <th class="col-4">연락처</th>
                    <th class="col-3">부모님 정보</th>
                    <th class="col-2">미학습</th>
                    <th class="col-1">상세</th>
                </tr>
                <tr id="s_data" class="row">
                        
                </tr>
            </table>
            <ul id="pagingul"></ul>

            <div id="ban_statistics" class="make_row">
                
            </div>

            <div class="make_row" id="request_box">
                <button class="custom-control custom-control-inline custom-checkbox" data-bs-toggle="modal" data-bs-target="#request_consulting">상담 요청 하기</button>
                <button class="custom-control custom-control-inline custom-checkbox" data-bs-toggle="modal" data-bs-target="#request_task">업무 요청 하기</button>
            </div>
            <button class="custom-control custom-control-inline custom-checkbox" data-bs-toggle="modal" data-bs-target="#my_request" style="margin-top: 2px;">요청중인 목록 보기</button>
        </div>
        
    </section>
    <section id="work"></section>
</div>

{% block jspart %}
<script type="text/javascript" src="../static/js/manage.js"></script>
<script type="text/javascript" src="../static/js/paginate.js"></script>
{% endblock %}

{% endautoescape %}
{% endblock %}