{% extends 'index.html' %}
{% block title %}
관리부서 페이지
{% endblock %}

{% block topnav %}
{% if user %}
관리부서님 환영합니다.
{% else %}
로그인이 필요합니다.
{% endif %}
{% endblock %}
{% block style %}
<link rel="stylesheet" href="../static/style/manage.css">
<link rel="stylesheet" href="../static/style/paginate.css">
<link rel="stylesheet" href="../static/style/teacher.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>
{% endblock %}
{% block content %}
{% autoescape off %}

<!-- 문의 조회 모달 창 -->
<div class="modal fade" id="answer" tabindex="-1" aria-labelledby="answerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="answerModalLabel">
                    OOO 선생님 문의 
                </h5>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-header">
                
            </div>
            <div>
                
            </div>
        </div>
    </div>
</div>

<!-- 요청한 업무 리스트 모달 창 -->
<div class="modal fade" id="my_task_request" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="taskModalLabel">
                    요청 중인 업무 목록 
                </h5>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-header">
                <select id="task-category-select" onchange="sort_task(this.value)" class="form-select" aria-label="Default select example">
                    <optgroup id="task-option">
                    </optgroup>
                </select>
            </div>
            <div>
                <table class="table text-center" id="task_list" style="width:100%;">
                    <tbody  style="width:100%;">
                        <thead>
                            <tr class="row">
                                <th class="col-3">날짜</th>
                                <th class="col-2">종류</th>
                                <th class="col-1">진행</th>
                                <th class="col-4">내용</th>
                                <th class="col-2">수정/삭제</th>
                            </tr>
                        </thead>
                            <tr id="task-tr" class="row"></tr>
                        </tbody>
                </table>
                <div id="task-pagination" class="py-5"></div>
            </div>
        </div>
    </div>
</div>

<!-- 요청한 상담 리스트 모달 창 -->
<div class="modal fade" id="my_consulting_request" tabindex="-1" aria-labelledby="questionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="questionModalLabel">
                    요청한 상담 목록 
                </h5>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-header">
                <select id="category-select" onchange="sort_consulting(this.value)" class="form-select" aria-label="Default select example">
                    <optgroup id="consulting-option">
                    </optgroup>
                </select>
            </div>
            <div>
                <table class="table text-center" id="consulting_task_list" style="width:100%;">
                    <tbody  style="width:100%;">
                        <thead>
                            <tr class="row">
                                <th class="col-3">날짜</th>
                                <th class="col-2">종류</th>
                                <th class="col-1">진행</th>
                                <th class="col-4">내용</th>
                                <th class="col-2">수정/삭제</th>
                            </tr>
                        </thead>
                            <tr class="row" id="tr-row">
                                <td>Loading...</td>
                            </tr>
                        </tbody>
                </table>
                <div id="consulting-pagination" class="py-5 text-center"></div>
            </div>

        </div>
    </div>
</div>

<!-- 상담요청 모달 -->
<div class="modal fade" id="request_consulting" tabindex="-1" aria-labelledby="RequestConsultingModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="RequestConsultingModalLabel">
                    상담 요청
                </h5>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" style="padding-top: 0;">
                <form action="/manage/ban" method="POST">
                    <input id="csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token() }}" style="display: block;" />
                    <div class="make_row">
                        <select class="border rounded-0 form-control form-control-sm" name="consulting_category"
                            style=" width: 150px; height: 100%; margin-left:0;">
                            <optgroup label="상담카테고리 선택">
                                {% for category in consulting_category %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </optgroup>
                        </select>
                        <input class="border rounded-0 form-control form-control-sm" type="text"
                            name="consulting_contents" placeholder="상담 내용을 입력해주세요">
                    </div>
                    <div class="notice_message">
                        <p>👇 상담을 진행할 반을 선택해주세요</p>
                        <div class="plus_under_contents">
                            <select class="border rounded-0 form-control form-control-sm" name="consulting_target_ban"
                                id="consulting_target_ban" onchange="getBanInfo(this.value)">
                                <optgroup label="상담 진행 반 선택">
                                    <option value="전체 반">✔️ 전체 반 대상 진행 ( 저장 클릭 후 5분 소요 됩니다 ) </option>
                                    {% for ban in all_ban %}
                                    {% set ban_regi = ban['register_no'] %}
                                    <option value="{{ban_regi}}">{{ ban['name'] }}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                            <div class="make_row" id="target_bans">

                            </div>
                        </div>
                        <div class="notice_message" id="select_student">
                            <p>👇 상담을 진행할 학생을 선택해주세요</p>
                            <select class="border rounded-0 form-control form-control-sm"
                                name="consulting_target_student" id="consulting_target_student">
                                <optgroup id="target_a_student" label="반 대상 전체 진행">

                                </optgroup>
                                <optgroup id="target_student" label="개별 학생 대상 진행">

                                </optgroup>
                            </select>
                        </div>
                    </div>

                    <div class="notice_message">
                        <p>👇 상담을 시작해야 하는 날짜를 2022-01-01 형식으로 적어주세요</p>
                        <input class="border rounded-0 form-control form-control-sm" type="text" name="consulting_date"
                            placeholder="2023-01-01">
                    </div>

                    <div class="notice_message">
                        <p>👇 상담을 끝내야 하는 마감 날짜를 2022-01-01 형식으로 적어주세요</p>
                        <input class="border rounded-0 form-control form-control-sm" type="text"
                            name="consulting_deadline" placeholder="2023-01-01">
                    </div>
                    <div style="display: flex; float: right;">
                        <button class="btn btn-success" type="submit" style="margin-top: 13px;">저장</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                            style="margin-top: 13px;">취소</button>
                    </div>

                </form>

            </div>


        </div>
    </div>
</div>


<!-- 업무요청 모달 -->
<div class="modal fade" id="request_task" tabindex="-1" aria-labelledby="RequestTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="RequestTaskModalLabel">
                    업무 요청
                </h5>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" style="padding-top: 0;">
                <form action="/manage/task" method="POST">
                    <input id="csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token() }}" style="display: block;" />
                    <div class="make_row">
                        <select class="border rounded-0 form-control form-control-sm" name="task_category"
                            style=" width: 200px; height: 100%; margin-left:0;">
                            <optgroup label="업무카테고리 선택">
                                <option value="none" selected>업무 종류를 선택해주세요</option>
                                {% for category in task_category %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </optgroup>
                        </select>
                        <input class="border rounded-0 form-control form-control-sm" type="text" name="task_contents"
                            placeholder="업무 내용을 입력해주세요">
                    </div>
                    <div class="notice_message">
                        <p>👇 업무를 진행할 반을 선택해주세요</p>
                        <div class="plus_under_contents">
                            <select class="border rounded-0 form-control form-control-sm" name="task_target_ban" id="task_target_ban" onchange="getBanInfo(this.value)">
                                <optgroup label="업무 진행 반 선택">
                                    <option value="none" selected>진행 반 선택</option>
                                    <option value="전체 반">✔️ 전체 대상 진행 ( 저장 클릭 후 조금 기다려 주세요 ) </option>
                                    {% for bt in all_ban %}
                                    <option value="{{ bt['register_no'] }}">{{ bt['name'] }}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                            <div class="make_row" id="target_bans">

                            </div>
                        </div>
                    </div>

                    <div class="notice_message">
                        <p>👇 업무을 시작해야 하는 날짜를 2022-01-01 형식으로 적어주세요</p>
                        <input class="border rounded-0 form-control form-control-sm" type="text" name="task_date"
                            placeholder="2023-01-01">
                    </div>

                    <div class="notice_message">
                        <p>👇 업무을 끝내야 하는 마감 날짜를 2022-01-01 형식으로 적어주세요</p>
                        <input class="border rounded-0 form-control form-control-sm" type="text" name="task_deadline"
                            placeholder="2023-01-01">
                    </div>
                    <div class="notice_message">
                        <p>👇 업무 참고 url 을 알려주세요 (없을 경우: 없음)</p>
                        <input class="border rounded-0 form-control form-control-sm" type="text" name="task_url"
                            placeholder="https://www.purpleacademy.co.kr/">
                    </div>
                    <div class="notice_message">
                        <p style="margin-right: 6px;"> 업무 주기와 업무 우선순위설정 : </p>
                        <div class="make_row">
                            <select class="border rounded-0 form-control form-control-sm" name="task_cycle"
                            style=" width: 200px; height: 100%; margin-left:0;">
                                <optgroup>
                                    <option value="none" selected>업무 주기를 선택해주세요</option>
                                    <option value=0>업무 주기 없음</option>
                                    <option value=1>월요일 업무</option>
                                    <option value=2>화요일 업무</option>
                                    <option value=3>수요일 업무</option>
                                    <option value=4>목요일 업무</option>
                                    <option value=5>금요일 업무</option>
                                </optgroup>
                            </select>
                            <select class="border rounded-0 form-control form-control-sm" name="task_priority"
                                style=" width: 200px; height: 100%; margin-left:0;">
                                <optgroup>
                                    <option value="none" selected>업무 우선순위를 선택해주세요</option>
                                    <option value=1>우선순위 무관</option>
                                    <option value=2>오후 업무</option>
                                    <option value=3>오전 업무</option>
                                    <option value=4>최우선 업무</option>
                                </optgroup>
                            </select>
                        
                        </div>
                    </div>

                    <div style="display: flex; float: right;">
                        <button class="btn btn-success" type="submit" style="margin-top: 13px;">저장</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                            style="margin-top: 13px;">취소</button>
                    </div>

                </form>

            </div>


        </div>
    </div>
</div>

<div class="container_box">
    <div id="user-info" class="border-bottom">
        <div class="d-flex justify-content-center flex-xl-row row-cols-xl-2 flex-column-reverse">
            <div class="p-lg-5 p-1 pb-4">
                <div class="d-flex justify-content-between flex-row row-cols-sm-2 row-cols-1 mb-4">
                    <!-- <button onclick="edit_personal_info()">정보 수정</button> -->
                    <div class="manage-work-btn-container">
                        <div class="manage-work-btn" data-bs-toggle="modal" data-bs-target="#request_consulting">
                            <div class="manage-work-img">
                                <img src="../static/style/images/user.png">
                            </div>
                            <div class="manage-work-label-wrapper">
                                <span class="manage-work-label col-7">신규 상담 요청</span>
                            </div>
                        </div>
                    </div>
                    <div class="manage-work-btn-container">
                        <div class="manage-work-btn" data-bs-toggle="modal" data-bs-target="#my_consulting_request" onclick="get_consulting()">
                            <div class="manage-work-img">
                                <img src="../static/style/images/conversation.png">
                            </div>
                            <div class="manage-work-label-wrapper">
                                <span class="manage-work-label">상담 리스트</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between flex-row row-cols-2">
                    <div class="manage-work-btn-container">
                        <div class="manage-work-btn" data-bs-toggle="modal" data-bs-target="#request_task">
                            <div class="manage-work-img">
                                <img src="../static/style/images/note.png">
                            </div>
                            <div class="manage-work-label-wrapper">
                                <span class="manage-work-label">신규 업무 요청</span>
                            </div>
                        </div>
                    </div>
                    <div class="manage-work-btn-container">
                        <div class="manage-work-btn" data-bs-toggle="modal" data-bs-target="#my_task_request" onclick="get_task()">
                            <div class="manage-work-img">
                                <img src="../static/style/images/order.png">
                            </div>
                            <div class="manage-work-label-wrapper">
                                <span class="manage-work-label">업무 리스트</span>
                            </div>
                        </div>
                    </div>                
                </div>
            </div> 
            <div class="d-flex justify-content-start align-items-center p-lg-5 py-3">
                <div class="user-detail">
                    <div class="manage-user-detail-deco"></div>
                    <div class="user-name">
                        <img src="https://purpleacademy.net/free_project/public/image/teacher-profile.png">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <span>{{ user['engname'] }}님 안녕하세요</span>
                            <div class="mt-2">
                                <a href="#" class="me-1" data-bs-toggle="modal" data-bs-target="#sign-out">
                                    <i class="fas fa-sign-out-alt text-danger fa-lg fs-6"></i>
                                </a>
                                <a href="#" class="ms-1" data-bs-toggle="modal" data-bs-target="#">
                                    <i class="fa-solid fa-gear text-primary fa-lg fs-6"></i>
                                </a>
                            </div> 
                        </div>
                    </div>
                    <div class="user-contact">
                        <div class="mt-2">
                           <i class="fa-regular fa-envelope"></i>                            
                           <span>&nbsp;&nbsp;{{ user['email'] }}</span>
                        </div>
                        <div class="mt-3">
                            <i class="fa-solid fa-briefcase"></i>
                            <span>&nbsp;&nbsp;관리부서</span>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <div id="ban-statistics" class="p-lg-5 px-1 py-4">
        <div class="info-container">
            <div class="info-title">
                <span>Class Statistics</span>
            </div>
            <div class="info">
                <div class="d-flex justify-content-center align-items-center flex-column w-100"> 
                    <div class="d-flex justify-content-end align-items-center w-100">
                        <select class="manage-ban-select px-1 py-2 w-lg-50 w-100" name="target_ban" onchange="getBanInfo(this.value)">
                            <option value="none" selected>반을 선택해주세요</option>
                            {% for ban in all_ban %}
                            {% set ban_regi = ban['register_no']  %}
                            <option value={{ban_regi}}>{{ban['name']}} ({{ban['semester']}}월 학기)</option>
                            {% endfor %}
                        </select>
                    </div>
                
                    <div class="d-flex justify-content-start align-items-start w-100" style="overflow: scroll;">
                        <div class="d-flex justify-content-center align-items-center flex-column mt-4" style="width: 1362px important;">
                            <div id="profile_data" class="w-100"></div>
                            <div id="ban_data" class="w-100"></div>
                            <table class="table text-center" style="width:100%;" id="student_data">
                                <tr class="row" style="background: #DCE6F2;">
                                    <th class="col-12" id="displayCount"></th>
                                </tr>
                                <tr class="row" style="background:#DCE6F2;">
                                    <th class="col-2">원생 정보</th>
                                    <th class="col-2">연락처</th>
                                    <th class="col-3">부모님 정보</th>
                                    <th class="col-2">추천도서</th>
                                    <th class="col-2">미학습</th>
                                    <th class="col-1">상세</th>
                                </tr>
                                <tr id="s_data" class="row"></tr>
                            </table>
                            <ul id="pagingul"></ul>
                            <div id="ban_statistics" class="make_row w-100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-container mt-5">
            <div class="info-title">
                <span>Teacher's Question</span>
            </div>
            <div class="info">
                <div class="d-flex justify-content-center align-items-center flex-column w-100"> 
                    <select id="question_view" class="form-select text-center w-25" name="question_view" onchange="paginating(this.value)">
                    <option value=0 selected>미응답 문의</option>
                    <option value=1>응답한 문의</option>
                    </select>
                    <table class="table text-center" id="teacher_question" style="width:100%;">
                        <thead>
                            <tr class="row">
                                <th class="col-3">종류</th>
                                <th class="col-3">선생님</th>
                                <th class="col-4">제목</th>
                                <th class="col-2">응답</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr id="alim-tr" class="row"></tr>
                        </tbody>
                    </table>
                    <div id="pagination" class="py-2 text-center"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- <section id="statistics">
        <div class="make_row">
            <div class="label" id="default_title">
                <h1> 반 현황 검색 </h1>
            </div>
            <div class="label" id="label_title">

            </div>
            <select name="target_ban" onchange="getBanInfo(this.value)">
                <optgroup>
                    <option value="none" disabled selected>반을 선택해주세요</option>
                    {% for ban in all_ban %}
                    {% set ban_regi = ban['register_no']  %}
                    <option value={{ban_regi}}>{{ban['name']}} ({{ban['semester']}}학기)</option>
                    {% endfor %}
                </optgroup>
            </select>
        </div>
        <div class="make_col">
            <div id="profile_data">

            </div>
            <div id="ban_data">

            </div>
            <table class="table text-center" style="width:100%;" id="student_data">
                <tr class="row" style="background: #DCE6F2;">
                    <th class="col-12" id="displayCount"></th>
                </tr>
                <tr class="row" style="background:#DCE6F2;">
                    <th class="col-2">원생 정보</th>
                    <th class="col-2">연락처</th>
                    <th class="col-3">부모님 정보</th>
                    <th class="col-2">추천도서</th>
                    <th class="col-2">미학습</th>
                    <th class="col-1">상세</th>
                </tr>
                <tr id="s_data" class="row">

                </tr>
            </table>
            <ul id="pagingul"></ul>

            <div id="ban_statistics" class="make_row">

            </div>

            <div class="make_row" id="request_box">
                    <button class="custom-control custom-control-inline custom-checkbox" data-bs-toggle="modal"
                    data-bs-target="#request_consulting">상담 요청 하기</button>
                    <button class="custom-control custom-control-inline custom-checkbox" data-bs-toggle="modal" data-bs-target="#my_consulting_request" onclick="get_consulting()" style="margin-right: 20px;">요청중인 상담 보기</button>
                    <button class="custom-control custom-control-inline custom-checkbox" data-bs-toggle="modal"
                    data-bs-target="#request_task">업무 요청 하기</button>
                    <button class="custom-control custom-control-inline custom-checkbox" data-bs-toggle="modal" onclick="get_task()"
                    data-bs-target="#my_task_request">요청중인 업무 보기</button>    
        </div>
    </section> -->
    <!-- <section id="work">
        <div class="make_col">
            <div class="label" id="default_title">
                <h1> 선생님 문의 현황 </h1>
            </div>
            <table class="table text-center" id="teacher_question" style="width:100%;">
                    <thead>
                        <tr class="row">
                            <th class="col-3">종류</th>
                            <th class="col-3">선생님</th>
                            <th class="col-4">제목</th>
                            <th class="col-2">응답</th>
                        </tr>
                    </thead>
                <tbody >
                    <tr id="alim-tr" class="row"></tr>
                </tbody>
            </table>
            <div id="pagination" class="py-5 text-center"></div>
        </div>
    </section> -->
</div>

{% block jspart %}
<script type="text/javascript" src="../static/js/manage.js"></script>
{% endblock %}

{% endautoescape %}
{% endblock %}
