{% block managecontent %}
<!-- 퇴소 이반 현황 -->
<div class="info-container">
    <div class="info-title">
        <span>이반 / 퇴소 발생 TOP5</span>
    </div>
    <div class="info" style="padding-top: 0px;">
        <div class="d-flex justify-content-center align-items-center flex-column w-100">
            <div class="d-flex justify-content-start align-items-start w-100" style="overflow: scroll;">
                <div class="d-flex justify-content-center align-items-center flex-column mt-4"
                    style="width: 1362px important;">
                    <h3 id="sotitle"></h3>
                    <table class="table text-center" style="width:100%;" id="so_data">
                        <tr class="row" style="background: #DCE6F2;">
                            <th class="col-12" id="displayCount1"></th>
                        </tr>
                        <tr class="row" style="background:#DCE6F2;">
                            <th class="col-1">순위</th>
                            <th class="col-3">반 이름</th>
                            <th class="col-1">학기</th>
                            <th class="col-3">담임 T</th>
                            <th class="col-2">이반 발생</th>
                            <th class="col-2">퇴소 발생</th>
                        </tr>
                        <tr id="static_data1" class="row"></tr>
                    </table>
                </div>
            </div>
            <button data-bs-toggle="modal" data-bs-target="#so_question" onclick="request_consulting()">이반 퇴소 문의 현황 확인하기</button>
        </div>
    </div>
</div>
{% endblock %}