{% extends 'index.html' %}
{% block title %}
선생님 업무 관리 페이지
{% endblock %}

{% block topnav %}
{% if user %}
{{ user['name'] }} ({{ user['engname'] }})님 환영합니다.
{% else %}
로그인이 필요합니다.
{% endif %}
{% endblock %}
{% block style %}
<link rel="stylesheet" href="../static/style/teacher.css">
{% endblock %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<script> alert("{{ messages[-1] }}")</script>
{% endif %}
{% endwith %}
{% block content %}
{% autoescape off %}
<script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
</script>
<script type="text/javascript">
    axios.defaults.headers.common["X-CSRFToken"] = "{{ csrf_token() }}";
</script>
<!-- 문의 남기기 -->
<div class="modal fade" id="question" tabindex="-1" aria-labelledby="questionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="questionModalLabel">
                    <img src="https://purpleacademy.net/free_project/public/image/head-office-question-btn.png"
                        style="width: 30px;">&nbsp;&nbsp;본원에 문의 남기기
                </h5>
                <button type="button" class="btn btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body py-4 px-5">
                <form action="/teacher/question" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" style="display: block;" />
                    <div class="modal-body-select-container">
                        <span class="modal-body-select-label">문의 종류</span>
                        <select id="question_kind" class="modal-body-select" name="question_category"
                            onchange="change_question_kind(this.value)">
                            <option value="none" selected>문의 종류를 선해주세요</option>
                            <option value="일반">일반 문의</option>
                            <option value="이반">이반 승인 요청</option>
                            <option value="퇴소">퇴소 승인 요청</option>
                            <option value="취소/환불">취소/환불 승인 요청</option>
                        </select>
                    </div>
                    <!-- invisible_for_2 start -->
                    <div id="invisible_for_2">
                        <div class="modal-body-select-container">
                            <span class="modal-body-select-label">기존 반</span>
                            <select class="modal-body-select" name="ban_id" onchange="get_ban_student(this.value)">
                                <option value="none" selected>기존 반을 선택해주세요</option>
                                {% for ban in my_bans %}
                                {% set ban_registerno = ban['register_no'] %}
                                <option value={{ban_registerno}}>{{ban['name']}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="modal-body-select-container">
                            <span class="modal-body-select-label">대상 원생</span>
                            <select id="student_list" class="modal-body-select" name="target_student" onchange="attach_consulting_history(this.value,1)">
                                <option value="none" selected>원생을 선택해주세요</option>
                            </select>
                        </div>
                        <div class="modal-body-select-container">
                            <span class="modal-body-select-label">상담 내용</span>
                            <select class="modal-body-select" name="consulting_history" id="h_select_box">
                            </select>
                        </div>
                    </div>
                    <!-- invisible_for_2 end -->
                    <div id="question_box">
                        <div class="modal-body-select-container">
                            <span class="modal-body-select-label">문의 제목</span>
                            <input class="modal-body-select" type="text" size="50" name="question_title"
                                style="width: 75%;">
                        </div>
                        <div class="modal-body-select-container">
                            <span class="modal-body-select-label">문의 내용</span>
                            <textarea id="question_contents" class="modal-body-select" type="text" rows="5" cols="25"
                                name="question_contents" style="width: 75%;"></textarea>
                        </div>
                        <div class="modal-body-select-container">
                            <span class="modal-body-select-label">첨부 파일</span>
                            <input type="file" id="file-upload" name="file-upload">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-4 mb-2">
                        <button class="btn btn-dark" type="submit">저장</button>
                        <!-- <button type="button" class="btn btn-danger" data-bs-dismiss="modal" style="margin-top: 13px;">취소</button> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- 문의 조회 -->
<div class="modal fade" id="question_list" tabindex="-1" aria-labelledby="questionListModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="questionListModalLabel">
                    <img src="https://purpleacademy.net/free_project/public/image/answer-a-question.png"
                        style="width: 30px; margin-bottom: 2px;">&nbsp;&nbsp;문의 답변 확인
                </h5>
                <button type="button" class="btn btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body by-4 px-5">
                <div id="questiondetail" style="width:100%;">
                    <button type="button" class="btn btn-back" onclick="go_back()">다른 문의조회🔙 </button>
                    <div id="questiondetail_box" style="width:100%;">
                        <table class="table text-center" style="width:100%;" id="consulting_history_attach">
                            <tbody style="width:100%;">
                                <thead>
                                    <tr class="row">
                                        <th class="col-12">진행한 상담 내용</th>
                                    </tr>
                                </thead>
                                <tr class="row">
                                    <td class="col-12"><div id="cha"></div> </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table text-center" style="width:100%;">
                            <tbody style="width:100%;">
                                <thead>
                                    <tr class="row">
                                        <th class="col-6">문의 내용</th>
                                        <th class="col-6">답변 내용</th>
                                    </tr>
                                </thead>
                                <tr class="row">
                                    <td class="col-6"><div id="teacher_question"></div></td>
                                    <td class="col-6"><div id="teacher_answer"></div> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="comment_box">
                        <div class="notice_message">
                            <p>👇Comment </p>
                            <div class="make_row" id="comment_post_box">

                            </div>
                            <div id="comments" class="make_col"style="margin-top:20px">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table text-center" id="questionlist" style="width:100%;">
                    <tbody style="width:100%;">
                        <tr class="row">
                            <th class="col-3">종류</th>
                            <th class="col-5">제목</th>
                            <th class="col-2">답변</th>
                            <th class="col-2">삭제</th>
                        </tr>
                        {% if questions is iterable %}
                        {% for question in questions %}
                        <tr class="row">
                            {% if question.category == 0 %}
                            <td class="col-3">일반문의</td>
                            {% elif question.category == 1 %}
                            <td class="col-3">퇴소문의</td>
                            {% elif question.category == 2 %}
                            <td class="col-3">이반문의</td>
                            {% else %}
                            <td class="col-3">취소/환불</td>
                            {% endif %}
                            <td class="col-5">{{ question.title }} </td>
                            {% if question.answer == 0 %}
                            <td class="col-2" onclick="get_question('{{question.id}}',3)"> 미응답 </td>
                            {% else %}
                            <td class="col-2" onclick="get_question('{{question.id}}',3)"> ✔️ </td>
                            {% endif %}
                            <td class="col-2" onclick="delete_question('{{question.id}}')"> ❌ </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr class="row">
                            {% if questions.category == 0 %}
                            <td class="col-3">일반문의</td>
                            {% elif questions.category == 1 %}
                            <td class="col-3">퇴소문의</td>
                            {% elif questions.category == 2 %}
                            <td class="col-3">이반문의</td>
                            {% else %}
                            <td class="col-3">취소/환불</td>
                            {% endif %}
                            <td class="col-7">{{ questions.title }} </td>
                            {% if questions.answer_id == null %}
                            <td class="col-2"> 미답변 </td>
                            {% else %}
                            <td class="col-2" onclick="get_answer('{{questions.id}}')"> ✔️ </td>
                            {% endif %}
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- 상담 일지 조회 -->
<div class="modal fade" id="consulting_history_list" tabindex="-1" aria-labelledby="consultingListModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="consultingListModalLabel">
                    <img src="https://purpleacademy.net/free_project/public/image/answer-a-question.png"
                        style="width: 30px; margin-bottom: 2px;">&nbsp;&nbsp;상담일지 확인
                </h5>
                <button type="button" class="btn btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body by-4 px-5">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" style="display: block;" />
                <h5 class="d-flex justify-content-center align-items-center m-0" id="consulting_title">상담을 진행한 반을 선택해주세요
                </h5>
                <div class="make_row">
                    <select id="history_ban" class="form-select text-center w-50" name="work_done">
                        <option value=0 selected>상담을 진행한 반을 선택해주세요</option>
                        {% for ban in my_bans %}
                        {% set ban_regi = ban['register_no'] %}
                        <option value={{ban_regi}}>{{ ban['name'] }} 상담</option>
                        {% endfor %}
                    </select>
                    <select id="history_done" class="form-select text-center w-50" name="work_done">
                        <option value=-1 selected>종류를 선택해주세요</option>
                        <option value=1>완료한 상담</option>
                        <option value=0>미진행 상담</option>
                    </select>
                    <button onclick="get_consulting_history()">검색</button>
                </div>

                <p id="h_title">진행 내역이 없습니다! 😂</p>
                <div class="w-100 mt-4" id="consulting_history_box">
                    <table class="table text-center" style="width:100%;">
                        <tbody style="width:100%;">
                            <thead>
                                <tr class="row">
                                    <th class="col-3">이름</th>
                                    <th class="col-3">연락처</th>
                                    <th class="col-2">추천도서코드</th>
                                    <th class="col-2">진행한 상담 수</th>
                                    <th class="col-2">✅</th>
                                </tr>
                            </thead>
                            <tr class="row" id="consulting_history_student_list">
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 상담 일지 작성 모달-->
<div class="modal fade" id="consultinghistory" tabindex="-1" aria-labelledby="consultinghistoryModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="consultinghistoryModalLabelt">
                    <img src="#" style="width: 30px;">&nbsp;&nbsp;상담일지 작성
                </h5>
                <button type="button" class="btn btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body py-4 px-5">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" style="display: block;" />
                <div class="d-flex justify-content-center mt-4 mb-2">
                    <div id="consulting_write_box">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container_box">
    <div id="user-info" class="border-bottom">
        <div class="d-flex justify-content-center flex-xl-row row-cols-xl-2 flex-column-reverse">
            <div class="p-lg-5 p-1 pb-4">
                <div class="d-flex justify-content-between flex-row row-cols-3">
                    <!-- <button onclick="edit_personal_info()">정보 수정</button> -->
                    <div class="question-btn-container">
                        <div class="question-btn head-office-question-btn" data-bs-toggle="modal"
                            data-bs-target="#question">
                            <img src="https://purpleacademy.net/free_project/public/image/head-office-question-btn.png">
                        </div>
                        <span class="question-label">본원 문의</span>
                    </div>
                    <div class="question-btn-container">
                        <div class="question-btn answer-a-question" data-bs-toggle="modal"
                            data-bs-target="#question_list">
                            <img src="https://purpleacademy.net/free_project/public/image/answer-a-question.png">
                        </div>
                        <span class="question-label">문의 답변</span>
                    </div>
                    <div class="question-btn-container" data-bs-toggle="modal"
                        data-bs-target="#consulting_history_list">
                        <div class="question-btn show-last-counsulting">
                            <img src="https://purpleacademy.net/free_project/public/image/show-last-counsulting.png">
                        </div>
                        <span class="question-label">지난 상담 조회</span>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-start align-items-center p-lg-5 py-3">
                <div class="user-detail">
                    <div class="user-detail-deco"></div>
                    <div class="user-name">
                        <img src="https://purpleacademy.net/free_project/public/image/teacher-profile.png">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <span>{{ user['name'] }}({{ user['engname'] }}) 선생님 안녕하세요.</span>
                            <div class="mt-2">
                                <a href="#" class="me-1" data-bs-toggle="modal" data-bs-target="#sign-out">
                                    <i class="fas fa-sign-out-alt text-danger fa-lg fs-6"></i>
                                </a>
                                <a href="#" class="ms-1" data-bs-toggle="modal" data-bs-target="#">
                                    <i class="fa-solid fa-gear text-primary fa-lg fs-6"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="user-contact">
                        <div class="mt-2">
                            <i class="fa-regular fa-envelope"></i>
                            <span>&nbsp;&nbsp;{{ user['email'] }}</span>
                        </div>
                        <div class="mt-3">
                            <i class="fa-solid fa-mobile-screen-button"></i>
                            <span>&nbsp;&nbsp;{{ user['mobileno'] }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center row-cols-xl-2 flex-xl-row flex-column">
        <div id="statistics" class="p-lg-5 p-1 py-4">
            <div class="info-container">
                <div class="info-title">
                    <span>Total Chart</span>
                </div>
                <div class="info make_col" style="overflow: scroll;">
                    <div class="total_chart">
                        <div class="chartWrap">
                            <div class="chart">
                                <div class="chart-total">
                                    <span class="chart-total-num">관리중:{{ total_student_num }}<br>*이반:{{ switchstudent_num }}<br>*퇴소:{{ outstudent_num }}<br></span>
                                </div>
                            </div>
                            <div class="chart-bar" data-deg="{{outstudent_num}}"></div>
                            <div class="chart-bar" data-deg="{{switchstudent_num}}"></div>
                            <div class="chart-bar" data-deg="{{total_student_num}}"></div>
                            <div class="chart-bar" data-deg="{{total_student_num}}/360*100">
                            </div>
                        </div>
                    </div>
                    <table class="table text-center" id="mystudent_name_list">
                        <tbody style="width:100%;">
                            <tr class="row">
                                <th class="col-3">반 이름</th>
                                <th class="col-3">이름</th>
                                <th class="col-3">연락처</th>
                                <th class="col-2">상담하기</th>
                            </tr>
                            {% for s in students %}
                            <tr id="totalreport-row" class="row">
                                <td class="col-3">{{ s['classname'] }}</td>
                                <td class="col-3">{{ s['name'] }}({{s['nick_name']}})</td>
                                <td class="col-3">{{ s['mobileno'] }}</td>
                                <td class="col-2">✅</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="info-container mt-5">
                <div class="info-title">
                    <span>Total Report</span>
                </div>
                <div class="info">
                    <div class="total_table" style="width:90%">
                        <!-- <table class="table text-center" id="unlearned">
                            <tbody style="width:100%;">
                                <tr class="row">
                                    <th class="col-3">IXL</th>
                                    <th class="col-3">리딩</th>
                                    <th class="col-3">리특</th>
                                    <th class="col-3">라이팅</th>
                                </tr>
                                <tr id="totalreport-row" class="row">
                                    <td class="col-3"> 임시3 (5%) </td>
                                    <td class="col-3"> 임시3 (5%) </td>
                                    <td class="col-3"> 임시3 (5%) </td>
                                    <td class="col-3"> 임시3 (5%) </td>
                                </tr>
                            </tbody>
                        </table> -->
                        <table class="table text-center" id="unlearned">
                            <tbody style="width:100%;">
                                <tr class="row">
                                    <th class="col-6">업무 | 완수율</th>
                                    <th class="col-6">상담 | 완수율</th>
                                </tr>
                                <tr id="classreport-row" class="row">
                                    <td class="col-3" id="task_chart">{{total_done}}/{{total_todo}}</td>
                                    <td class="col-3"> {{ ttp }}%</td>
                                    <td class="col-3"> {{ttd}}/{{ttc}} </td>
                                    <td class="col-3"> {{cp}}% </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table text-center" id="unlearned">
                            <tbody style="width:100%;">
                                <tr class="row">
                                    <th class="col-6">공지 등록건</th>
                                    <th class="col-6">문의 | 응답율</th>
                                </tr>
                                <tr class="row">
                                    <td class="col-6"> {{questions|length}} </td>
                                    <td class="col-3"> 임시3/10 </td>
                                    <td class="col-3"> 5% </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="info-container mt-5">
                <div class="info-title">
                    <span>Class Report</span>
                </div>
                <div class="info">
                    <table class="table text-center" id="class_list" style="width:100%;">
                        <tbody style="width:100%;">
                            <tr class="row">
                                <th class="col-3">반이름</th>
                                <th class="col-2">학기</th>
                                <th class="col-2">원생 수</th>
                                <th class="col-1">퇴소</th>
                                <th class="col-1">이반</th>
                                <th class="col-1">미학습</th>
                                <th class="col-2">문의 미응답</th>
                            </tr>
                            {% for ban in my_bans %}
                            <tr class="row">
                                <td class="col-3">{{ ban['name'] }}</td>
                                <td class="col-2">{{ ban['semester'] }}학기</td>
                                <td class="col-2">{{ ban['total_student_num'] }}명</td>
                                <td class="col-1"> {{ban['out_s']}}건</td>
                                <td class="col-1"> {{ban['switch_s']}}건</td>
                                <td class="col-1"> {{ban['unlearned']}}건</td>
                                <td class="col-2"> 임시3 (5%) </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div id="work" class="p-lg-5 p-1 py-4">
            <div class="info-container">
                <div class="info-title">
                    <span>To-Do List</span>
                </div>
                <div class="info d-flex justify-content-center align-items-center flex-column">
                    <div class="d-flex justify-content-between flex-row w-100 pb-4 border-bottom">
                        <h5 class="d-flex justify-content-center align-items-center m-0" id="task_title">오늘의 업무</h3>
                            <select id="work_done" class="form-select text-center w-25" name="work_done"
                                onchange="task_doneview(this.value)">
                                <option value=0 selected>오늘의 업무</option>
                                <option value=1>완료한 업무</option>
                            </select>
                    </div>
                    <div class="w-100 mt-4" id="today_task_box0">
                        <p id="task_category_msg0"></p>
                        {% for category in alltaskcategory %}
                        <button onclick="get_task(0)">{{category.name}}</button>
                        {% endfor %}
                        <details>
                            <summary><strong>
                                    업무 </strong></summary>
                            <div class="make_col" id="task_contents_box0{{category.id}}">
                                <p class="task_category_msg0"></p>
                            </div>
                            <div class="make_col" id="task_contents_box1{{category.id}}">
                                <p class="task_category_msg1"></p>
                            </div>
                        </details>
                    </div>
                </div>
            </div>


            <div class="info-container mt-5">
                <div class="info-title">
                    <span>Consulting List</span>
                </div>
                <div class="info d-flex justify-content-center align-items-center flex-column">
                    <div class="d-flex justify-content-between flex-row w-100 pb-4 border-bottom">
                        <h5 class="d-flex justify-content-center align-items-center m-0" id="consulting_title">상담할 반을
                            선택해주세요</h3>
                            <select class="form-select text-center w-25"
                                onchange="get_consulting_student(this.value,0)">
                                <option value=0 selected>상담할 반을 선택해주세요</option>
                                {% for ban in my_bans %}
                                {% set ban_regi = ban['register_no'] %}
                                <option value={{ban_regi}}>{{ ban['name'] }} 상담</option>
                                {% endfor %}
                                <option value=1>오늘의 부재중 상담</option>
                            </select>
                    </div>
                    <h5 class="d-flex justify-content-center align-items-center m-0" id="consulting_msg">
                        </h3>
                        <div class="w-100 mt-4" id="consulting_student_list">
                            <table class="table text-center" style="width:100%;">
                                <tbody style="width:100%;">
                                    <thead>
                                        <tr class="row">
                                            <th class="col-3">이름</th>
                                            <th class="col-3">연락처</th>
                                            <th class="col-2">추천도서코드</th>
                                            <th class="col-2">상담 수</th>
                                            <th class="col-2">✅</th>
                                        </tr>
                                    </thead>
                                <tbody id="today_consulting_box">

                                </tbody>
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>

        </div>


        {% block jspart %}
        <script type="text/javascript" src="../static/js/teacher.js"></script>
        <script type="text/javascript" src="../static/js/common.js"></script>
        <script type="text/javascript" src="../static/js/chart.js"></script>
        {% endblock %}

        {% endautoescape %}
        {% endblock %}